@page "/gig-details/{GigId:int}"
@using StitchMaster

@using StitchMaster.BusinessLogic
@using StitchMaster.DataLayer
@inject NavigationManager Navigation

<div class="container my-2">
    <div class="row">
        <!-- Left Column: Gig Image and Description -->
        <div class="col-md-8">

            <img src=@gig.ImageURLs alt="Gig Imag" class="img-fluid rounded mb-3 shadow"  style="width:700px; height:400px;"/>

            <h2>@gig.GigTitle</h2>
            <p class="text-muted"><strong>Category:</strong> @gig.GigCategory.CategoryName</p>

            <div class="mb-3">
                <h5>Description</h5>
                <p>@gig.GigDescription</p>
            </div>



        </div>

        <!-- Right Column: Seller Info and Order Box -->
        <div class="col-md-4">
            <div class="card p-3 shadow">
                <div class="d-flex align-items-center mb-3">

                    <img src=@owner.Profile_Img_URL alt="Seller" class="rounded-circle me-2" style="width: 50px; height: 50px;" />
                    <div>
                        <strong>@owner.FullName</strong><br />

                        <small>Top Rated Seller</small>
                    </div>
                </div>

                <div class="mb-2">

                    <strong>Delivery:</strong> @gig.GigDeliveryDays Days
                </div>
                <div class="mb-3">
                    <strong>Price:</strong>$@gig.GigPrice
                </div>

                <a href="/customer-place-order/@gig.GigID" class="btn btn-success w-100">Continue $@(gig.GigPrice)</a>

            </div>
        </div>
    </div>
</div>


@code {
    [Parameter] public int GigId { get; set; }

    private TailorGig gig;

    private User owner;

    protected override void OnInitialized()
    {
        // Simulate loading the gig from DB or service
        gig = LoadGigById(GigId);
        owner = LoadGigOwner(GigId);
    }

    private User LoadGigOwner(int gigid)
    {
        return UserData.Instance.GetUserById(TailorData.Instance.GetTailorUserId(TailorGigData.Instance.GetGigOwner(gigid)));
    }
    private TailorGig LoadGigById(int id)
    {
        // You will fetch from DB/service — this is just demo data
        return TailorGigData.Instance.GetGigById(id);
    }
}
