@page "/product-details/{ProductId:int}"
@using StitchMaster
@using StitchMaster.BusinessLogic
@using StitchMaster.DataLayer
@inject NavigationManager Navigation

<div class="p-2 d-flex gap-3">
	<div class="w-50 h-50 overflow-hidden">
		<img src=@product.ImageURls alt="Alternate Text" class="container-fluid" />
	</div>
	<div class="d-flex flex-column gap-2">
	<h1 class="h1">@product.FabricProductTitle</h1>
	<p class="text-wrap">@product.FabricProductDescription</p>
		<h6 class="fw-bold">Color: <span class="badge bg-primary">@product.FabricColor.ColorName</span></h6>
		<h6 class="fw-bold">Material: <span class="fw-light">@product.FabricMaterial</span></h6>
		<h6 class="fw-bold">Gender: <span class="fw-light">@product.Gender</span></h6>
		<h6 class="fw-bold">Price Per Meter: <span class="fw-light">@product.PricePerMeter</span></h6>
		<h6 class="fw-bold">In Stock: <span class="fw-light">@product.StockQuantity</span></h6>
		<button class="btn btn-primary">Buy Now</button>
	</div>
</div>
<div class="p-2 d-flex align-items-center">
	<img src="/Avatar.svg" alt="Seller Avatar" class="rounded-circle me-2" style="width: 35px; height: 35px;" />
	<span class="text-dark">@owner.FullName</span>
</div>
@code {
	[Parameter] public int ProductId { get; set; }

	private FabricProduct product;

	private User owner;

	protected override void OnInitialized()
	{
		product = LoadProductById(ProductId);
		owner = LoadProductOwner(ProductId);
	}

	private User LoadProductOwner(int productid)
	{
		return UserData.GetUserById(FabricStoreData.Instance.GetStoreUserId(FabricProductData.Instance.GetProductOwnerId(productid)));
	}
	private FabricProduct LoadProductById(int id)
	{
		return FabricProductData.Instance.GetProductById(id);
	}
}
